.play-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #6ebd6e;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.play-button:hover {
  background-color: #5aaf5a; /* Slightly darker shade on hover */
}
